.card .card-title,
.card .card-subtitle {
  margin-bottom: 6px;
}

.card {
  flex: 1;
  margin-bottom: 20px;
}

.current-day.card {
  border-color: #f08114;
}

.card .card-title {
  color: #f08114;
  font-size: 14px;
}

.card .card-subtitle {
  border-bottom: 2px solid #2e2e2e;
  color: #2e2e2e;
  font-size: 12px;
  font-weight: 600;
}

.fa.fa-tint {
  color: #6666f1;
  font-size: 12px;
  margin-right: 8px;
  position: relative;
}

.fa.fa-tint:before {
  left: 2px;
  position: absolute;
  top: -15px;
}
