.card .card-title,
.card .card-subtitle {
    margin-bottom: 6px;
}

.card {
    flex: 1;
}

.current-day.card {
    border-color: #f08114;
}

.card .card-title {
    font-size: 14px;
    color: #f08114;
}

.card .card-subtitle {
    color: #2e2e2e;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 2px solid #2e2e2e;
}

.fa.fa-tint {
    font-size: 12px;
    color: #6666f1;
    font-size: 12px;
    color: #6666f1;
    position: relative;
    margin-right: 8px;
}

.fa.fa-tint:before {
    top: -15px;
    position: absolute;
    left: 2px;
}